

<% if @cocktail.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
<% else %>
  <div class="card-category" style=" height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path @images.sample, height: 300, width: 400, crop: :fill %>')">
<% end %>
<%= @cocktail.name %>
</div>

<div class="container" style="height: max,">
<%= @cocktail.name %>
<br>
<% @cocktail.doses.each do |dose| %>
<%= dose.description %>
<%= dose.ingredient.name %>
<%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<% end %>
</div>

<%= link_to 'Back', cocktails_path %> |
<%= link_to 'Add a dose to the recipe', new_cocktail_dose_path(@cocktail) %>
</div>
